main{
    display: block;
}
.container_main{
    margin:0 auto;
    width: 100%;
    max-width: 400px;
    margin-top: 50px;
   }

.logo{
text-align: center;
}
ul{
    list-style: none;
}
.find_info{
    display: flex;
    color: black;
    justify-content: flex-end;
    
}
.find_info li a{
    color : gray;
}
.find_info li{
    font-size: 10px;
    margin-right: 5px;
}
a{
    text-decoration: none;
}

.input_text{
    width: 95%;
    height: 50px;
    padding-left: 10px;
    margin-bottom: 8px;
}

.error_message{
    font-size: 12px;
    color: red;
    /* display:none; */
    padding-left: 10px;
}

.keep_check{
    
}
.container_button{
    margin-top: 70px;
    text-align: center;
}

.ok_button{
    width: 95%;
    height: 50px;
    background-color: #884A39;
    color: white;
}

.tab_list ul{
    margin:0 auto;
    width: 100%;
    max-width: 400px;
    margin-top: 50px;
    display: flex;
}
.tab_list ul li{
    margin:0 auto;
}
.contant_header{
    border-bottom: 1px solid;
    padding-bottom: 4px;
}

#userEmail{
    margin-top: 50px;

}

.guide{
    margin-top: 50px;
    margin-left: 10px;
}
.find_id_pwd{
    border: 2px solid;
}

.message{
    text-align: center;
}
#button1{
    margin-bottom: 10px;
}