/* 헤더 */
.search {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

#logo{
    text-align: center;
    width: 50%;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul{
    list-style: none;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

nav ul li{
display: inline;
letter-spacing: .3em;
margin-left: 2em;
}

nav ul li a{
text-decoration: none;
color: black;
line-height: 3em;
text-transform: uppercase;
}

.notice_header{
    display:block; margin: 0 auto; width:180px; height:130px;
}

.notice1{
    text-align: right; margin-right: 1270px;
}

.notice2{
    text-align: center; margin-right: 1110px; 
}

.p1{
    text-align: right; margin-right: 1160px; padding-top: 10px; font-weight: bold; font-size: 18px;
}

.p2{
    text-align: right; margin-right: 1133px; font-size: 14px; direction: rtl;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: 320px; 
    }
    
    th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    }
    
    th {
    background-color: #f2f2f2;
    font-weight: bold;
    }

.tablemargin {
        margin-left: 5px;
}

td.description {
        width: 30%; /* 가로 폭을 조정할 값으로 변경 가능 */
        
}

.content {
    margin-right: 700px;
    position: absolute;
    top: 300px;
    left: 10px;
}

.content h3 {
    font-size: 16px;
    font-weight: normal;
}

.content h3.bold {
    font-weight: bold;
}

.index{
    position: absolute;
    top: 200px;
    left: 10px;
}

.user-role {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.tablemargin{
    margin-left: 5px;
}

.search{
    display: flex; justify-content: flex-start; margin-left: 200px; 

}

.search input[type="text"] {
    width: 70%; 
    height: 40px;
    font-size: 18px;
}

.search-icon {
    width:30px; height:30px; margin-right: 10px; margin-top: 10px;
}

.member-list{
    display: flex; justify-content: flex-start; margin-left: 250px;
}

body {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: #333;
}

a {
    color: rgba(83, 56, 3, 0.992);
}

.profil {
    display:block; margin: 0 auto; margin-left: -20px; width:120px; height:100px; float: left;
}

.title_box {
    display:inline-block; 
    width:100%; 
    padding:10px 0 10px 0; 
    line-height:1.3em; 
    background:#EAEAEA; 
    color:#333333; 
    text-align:center; 
    font-size:16px; 
    font-weight:bold;
}

.category-container {
    display: none; /* 초기에 숨김 */
    justify-content: center;
    margin-bottom: 10px;
  }
  

.category {
    font-weight: bold;
    padding: 15px 10px; /*상하 5px, 좌우 10px로 조정할 수 있습니다.*/
    border: 1px;
    border-radius: 5px;
    margin-right: 10px; /* 간격을 조정할 값으로 변경 가능 */
}

.categories{
    font-weight: bold;
    padding: 15px 10px; /*상하 5px, 좌우 10px로 조정할 수 있습니다.*/
    border: 1px;
    border-radius: 5px;
    margin-right: 10px; /* 간격을 조정할 값으로 변경 가능 */
    

}
.button-container {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button-container button {
    padding: 8px 16px;
    margin-right: 10px;
    background-color: #36230062;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #36230062;;
}

.date-separator {
    margin: 0 20px;
}

.left-align {
    padding-left: 200px;
}
.help-categories {
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .help-categories li {
    margin-right: 20px; /* 단어 간격 조정 */
  }
  

.custom-hr {
    border: none;
    height: 1px; /* 원하는 선의 높이 설정 */
    width: 1050px;
    background-color: #000; /* 원하는 선의 색상 설정 */
    margin: 10px auto;  /* 원하는 선의 위아래 여백 설정 */
}
