
/* 관리자 로그인  */
.adminLogin {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 15px;
}

.adminLogin button {
    font-size: 10px;
    width: 70px;
    height: 30px;
    margin-top: 18px;
    margin-left: 10px;
    color: white;
    background: #cca77f;
    border: none;
}

.notice_header{
    display:block; margin: 0 auto; width:180px; height:130px;
}


.notice1{
    text-align: right; margin-right: 1270px;
}

.notice2{
    text-align: center; margin-right: 1110px; 
}

.category-container {
    display: none; /* 초기에 숨김 */
    justify-content: center;
    margin-bottom: 10px;
}


.category {
    background-color: white;
    border: none;
    letter-spacing: 0.3em;
    margin-left: 2em;
    line-height: 3em;
    text-transform: uppercase;
}

.category a {
        color: black;
        text-decoration: none;
}


.categories{
    font-weight: bold;
    padding: 15px 10px; /*상하 5px, 좌우 10px로 조정할 수 있습니다.*/
    border: 1px;
    border-radius: 5px;
    margin-right: 10px; /* 간격을 조정할 값으로 변경 가능 */
}


.gugu {
    background-color: white;
    border: none;
    letter-spacing: 0.3em;
    margin-left: 2em;
    line-height: 3em;
    text-transform: uppercase;
  }
  
  .gugu a {
    color: black;
    text-decoration: none;
  }

  
/* 카테고리 드롭다운 */
.slide-content {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -250px;
    background-color: #F9DFBB;
    top: 0;
    width: 250px;
    height: 100vh;
    transition: left 0.3s ease;
}
    
.slide-open {
    left: 0px;
  }
  
.slide-content a {
    font-size: 20px;
    margin-top: 4%;
    background-color: #F9DFBB;
    color: #884A3B !important;
    text-decoration: none;
    margin-top: 10px;
}

.slide-content a:hover {
    background-color: #C49A6C;
    text-decoration: underline;
  }


#logo {
    text-align: center;
    width: 50%;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container {
    display: grid;
    grid-template-columns: 200px 200px auto;
  }
  
  .container2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
  .container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    padding-right: 20px;
  }

  .call {
    text-align: center;
    margin: 0%;
  }


body {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: #333;
}


.search {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  
  .search input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
  }

  nav ul {
    list-style: none;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
  }
  
  nav ul li {
    display: inline;
    letter-spacing: 0.3em;
    margin-left: 2em;
  }

  aside#left {
    float: left;
    width: 10em;
    margin-right: 1em;
  }
  
  aside#left ul {
    list-style: none;
    padding: 0;
  }
  
  aside#left ul li {
    background-color: #f9dfbb;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  
  aside#left ul li a {
    display: block;
    color: black;
    text-decoration: none;
  }
  
  aside#main {
    float: left;
  }
  
  /* footer영역 */
  footer {
    clear: both;
    background-color: #5b4612;
    color: white;
    padding: 1em 0px;
  }
  
  .guide {
    padding: 10px;
    color: white;
  }
  
