.footerBtn{
    font-size: large;
    width: 100px;
    height: 50px;
    color: white;
    font-weight: 400;
    background-color: #C49A6C;
    border: 0px;
    border-radius: 5px;
    margin: 10px;
}
.container-justify-center-w100{
    display: flex;
    width: 100%;
    justify-content: center;
}
.cancel-title{
    color: #884A3B;
    font-weight: 800;
    font-size: 40px;
}
.cancel-table{
    font-size: 21px;
}
.cancel-table tr{
    line-height: 50px;
}
.cancel-table th{
    text-align: end;
    padding-right: 20px;
    padding-left: 30px;
    color: #884A3B;
    border-bottom: 1px solid #884A3B;
}
.cancel-table td:nth-child(3){
    padding-left: 20px;
    border-bottom: 1px solid #884A3B;

}
.cancel-table td:nth-child(4){
    padding-right: 30px;
    border-bottom: 1px solid #884A3B;
}
.cancel-table td:nth-child(2) {
    margin: 20px;
    padding-left: 20px;
    text-align: start;
    border-bottom: 1px solid #884A3B;
}
