.body{
    margin: 20px;
    background-color: #fff1da;
}
.textarea{
    resize: none;
    border: none;
    outline-style: none;
    padding: 10px;
}
.textarea:disabled{
    background-color: white   
}
.qa-line{
    border: 2px solid #C49A6C;
}
input:disabled{
    background-color: white;
    border: none;
    height: 40px;
}
div{
    margin-top: 10px;
}

label{
    font-size: large;
    color: #884a3b;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerbtn{
    font-size: large;
    width: 100px;
    height: 50px;
    color: white;
    font-weight: 400;
    background-color: #C49A6C;
    border: 0px;
    border-radius: 5px;
    margin: 10px;    
}