.body{
    margin: 20px;
}
.textarea{
    resize: none;
    outline-style: none;
    padding: 10px;
    width: 98%;
    border: 1px solid #884A3B;
    background-color: white;
    border-radius:4px;
}
.qa-line{
    border: 2px solid #C49A6C;
}
.label{
    display: block;
    font-size: 30px;
    color: #884a3b;
    font-weight: 700;
    margin-bottom: 20px;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerBtn{
    font-size: large;
    width: 100px;
    height: 50px;
    color: white;
    font-weight: 400;
    background-color: #C49A6C;
    border: 0;
    border-radius: 5px;
    margin: 10px;    
}