/* nav 영역 */
nav ul{
    list-style: none;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
         }
 
   nav ul li{
    display: inline;
    letter-spacing: .3em;
    margin-left: 2em;
         }
 
   nav ul li a{
    text-decoration: none;
    color: black;
    line-height: 3em;
    text-transform: uppercase;
               }

   /* footer영역 */
   footer{
   clear: both;
   background-color: #5B4612;
   color: white;
  
   padding: 1em 0px;
     }

   right {
       color: white;
       text-align: right;
         }

   .search {
       display: flex;
       align-items: center;
       margin-right: 30px;
           }

   input {
   width: 100%;
   border: 1px solid #bbb;
   border-radius: 8px;
   padding: 10px 12px;
   font-size: 14px;
          }

   #logo{
       text-align: center;
       width: 50%;
       height: 400px;
       display: block;
       margin-left: auto;
       margin-right: auto;
         }

   .container {
       display: inline-flex;
   }

   a {
       text-decoration: none;
       color: white;
   }

       /*드래그 방지*/
       .drag-prevent{
        -ms-user-select: none;
        -moz-user-select: -moz-none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        user-select: none;
    }

 /* 페이지 넘어가는 거..*/
   .menu {
    text-align: center;
    display: flex;
    gap: 20px 2%;
    flex-wrap: wrap;
    position: relative;
    margin: 100px auto;
    max-width: 1400px;
    background-color: #ffffff;
  }
  
  .box {
    height: 350px;
    line-height: 300px;
    text-align: center;
    background-color: #D9D9D9;
    width: 30%;
  }

  .box:hover {
    background-color: #FFC16F;
       }