/* nav 영역 */
nav ul{
  list-style: none;

  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

nav ul li{
display: inline;
letter-spacing: .3em;
margin-left: 2em;
}

nav ul li a{
text-decoration: none;
color: black;
line-height: 3em;
text-transform: uppercase;
}

/* footer영역 */
footer{
clear: both;
background-color: #5B4612;
color: white;

padding: 1em 0px;
}

right {
  color: white;
  text-align: right;
}

.search {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

input {
width: 100%;
border: 1px solid #bbb;
border-radius: 8px;
padding: 10px 12px;
font-size: 14px;
}

#logo{
  text-align: center;
  width: 50%;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: grid;
  grid-template-columns: 200px 200px auto;
}

.container2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.container3 {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  padding-right: 20px;
}

.guide{
  padding: 10px;
}

.call{
  text-align: center;
  margin: 0%;
}

a {
  text-decoration: none;
  color: white;
}

   /* 권한 페이지 넘어가는 거..*/
   .box {
    width: 200px;
    height: 50px;
    background-color: #D9D9D9;
    list-style: none;
    display: inline;
    color: white;
  }

   .box:hover {
    background-color: #cca77f;
   }
/*//////////////////////////////////////////////////*/
   /* 판매자 리스트 박스 */
   .product {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .image-container {
    margin-right: 80px;
  }
  
  .image-container img {
    width: 300px;
    height: auto;
    margin-left: 80px;
  }
  
  .button-container {
    margin-left: auto;
  }
  
  .seller-name {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .sale-description {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .buy-button,
  .add-to-cart-button {
    padding: 10px 20px;
    background-color: #bea376;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .buy-button:hover,
  .add-to-cart-button:hover {
    background-color: #89724C;
  }

  /* 아랫단 숫자 페이지 */
  .pagenation {
    margin-top: 3em;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .pagenation li {
    padding: 5px 10px 5px 10px;
    margin: 5px;
  }
  
  .pagenation li:hover,
  .pagenation li:hover a {
    background-color: #89724C;
    color: white !important;
  }
  
  .pagenation li a {
    color: black; /* 숫자 글씨 색상을 변경하려면 원하는 색상으로 설정하세요 */
    text-decoration: none;
  }

  .btn5{
    color: white;
    background: #cca77f;

    border: none;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 5px;
}
.btn5:hover{
    background: #b68149;
}