/* nav 영역 */
nav ul{
    list-style: none;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
         }
 
   nav ul li{
    display: inline;
    letter-spacing: .3em;
    margin-left: 2em;
         }
 
   nav ul li a{
    text-decoration: none;
    color: black;
    line-height: 3em;
    text-transform: uppercase;
               }

   /* 왼쪽 사이드 메뉴 */
   aside#left{
       float: left;
       width: 10em;
       margin-right: 1em;
             }

   aside#left ul{ list-style: none}

   aside#left ul li{
       background-color: #F9DFBB;
       width: 150px;
       height: 30px;
       padding: 5px 5px;
       text-align: center;
       border-bottom: 1px solid black;
       
                   }

   aside#left ul li a{
       color: black;
       text-decoration: none;
                     }


   aside#main{
       float: left;
             }

   /* footer영역 */
   footer{
   clear: both;
   background-color: #5B4612;
   color: white;
  
   padding: 1em 0px;
     }

   right {
       color: white;
       text-align: right;
         }

   .search {
       display: flex;
       align-items: center;
       margin-right: 30px;
           }

   input {
   width: 100%;
   border: 1px solid #bbb;
   border-radius: 8px;
   padding: 10px 12px;
   font-size: 14px;
          }

   #logo{
       text-align: center;
       width: 50%;
       height: 400px;
       display: block;
       margin-left: auto;
       margin-right: auto;
         }

   .container {
       display: inline-flex;
   }

   a {
       text-decoration: none;
       color: white;
   }

   .scroll {
    overflow:scroll; 
    width:1300px; 
    height:1000px; 
    background-color: #F9DFBC;
    margin: 0 auto;
   }