

   /* 판매자 리스트 박스 */
   .list {
    text-align: center;
    
    max-width: 1000px;
    background-color: #ffffff;
  }

  .item{
    width: 40%;
    height: 200px;
    line-height: 200px;
    background-color: #C49A6C;
    padding: 5px 0px 5px 5px;
    margin-bottom: 25px;
  }


