   
/* footer영역 */
footer{
  clear: both;
  background-color: #5B4612;
  color: white;
  
  padding: 1em 0px;
  }
  
  right {
      color: white;
      text-align: right;
  }
  
  .search {
      display: flex;
      align-items: center;
      margin-right: 30px;
  }
  
  input {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
  }
  
  #logo{
      text-align: center;
      width: 50%;
      height: 400px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      background-color: #F9DFBC;
  }
  
  .container {
      display: grid;
      grid-template-columns: 200px 200px auto;
  }
  
  .container2 {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
  }
  
  .container3 {
      /* position: relative; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 30px;
      padding-right: 20px;
  }
  
  .guide{
      padding: 10px;
  }
  
  .call{
      text-align: center;
      margin: 0%;
  }
  
  a {
      text-decoration: none;
      color: white;
  }